<div class="container">
  <h1>SINGUP
    <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td>{{ book.email }}</td>
        <td><a [routerLink]="['/book-details', book._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
